{% extends "base.html" %}
{% block title %}Contacts{% endblock %}
{% block heading %}Contacts{% endblock %}
{% block content %}
{% for contact in contacts %}
    {% include 'contacts/contact_single.html' %}
{% endfor %}
<br><hr>

<form action="/contacts/add" method="post">
{% csrf_token %}
<input type="text" name="name" value="" placeholder="Введите имя..."><br>
<input type="text" name="family" value="" placeholder="Введите фамилию..."><br>
<input type="text" name="phone_number" value="" placeholder="Введите номер телефона..."><br>
<input type="text" name="email" value="" placeholder="Введите емаил..."><br>
<input type="text" name="address" value="" placeholder="Введите адрес..."><br>
<input type="submit" value="Добавить контакт"/>
</form>
{% endblock %}
