{% extends "base.html" %}
{% block content %}
<br><hr>

<form action="/contacts/edit" method="post">
{% csrf_token %}
<input type="hidden" name="edited" value="6"/>
<input type="hidden" name="id" value="{{ editable.id }}"/>
<input type="text" name="name" value="{{ editable.name }}"/><br><br>
<input type="text" name="family" value="{{ editable.family }}"/><br><br>
<input type="text" name="phone_number" value="{{ editable.phone_number }}"/><br><br>
<input type="text" name="email" value="{{ editable.email }}"/><br><br>
<input type="text" name="address" value="{{ editable.address }}"/><br><br>
<input type="submit" value="Сохранить изменения"/>
</form>
{% endblock %}