<h3>{{ contact.name }} {{ contact.family }}</h3>
{{ contact.phone_number }}<br>
{{ contact.email }}<br>
{{ contact.address }}
{%csrf_token %}
<form action="/contacts/delete" method="post">
{% csrf_token %}
<input type="hidden" name="id" value="{{ contact.id }}"/>
<input type="submit" value="Удалить выступление"/>
</form>
<form action="/contacts/edit" method="post">
{% csrf_token %}
<input type="hidden" name="edited" value="1"/>
<input type="hidden" name="id" value="{{ contact.id }}"/>
<input type="submit" value="Редактировать контакт"/>
</form>
